@font-face{
    font-family: Open-sans;
    src: url('..assets/fonts/Open-sans.woff2') format("woff2");
}

// apply font for the whole app
*{
    font-family: Open-sans;
}

@font-face{
    font-family: BalooBhai;
    src: url('../assets/fonts/BalooBhai.woff2') format("woff2");
}

*{
    font-family: BalooBhai;
}


    


.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-icon{
    color:#ccc;
}

.temp{
    font-size:45px;
    text-align: center;
    font-weight: normal;
}

.location,.icon, .desc{
    text-align: center;
}

.icon img{
    width:50px;
}

.location{
    font-size:25px;
}

.desc{
    font-size:15px;
}

.home{
    background:color($colors, primary);
    color:color($colors, light);
    margin-top:15px;
}

.settings{
    margin: 15px;
}
